.homepage_div {
  width:100%
}

.image_input {
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  color: red;
}
input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #32a007;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #2f8606;
}
.btnDataFetch {
  background: #32a007;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  width: 200px;
  border: none;
  margin-top: 10px;
  padding:6px; 
}
.fetchOutput {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.diseaseOutput {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  width: 200px;
  height: fit-content;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.85);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 0px 6px 1px rgba(128, 128, 128, 0.658);
}
.diseaseOutputText {
  font-size: 15px;
  font-weight: 640;
  text-transform: capitalize;
  color: rgb(255, 38, 0);
}
.header_div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 2px 0px 6px 1px rgba(128, 128, 128, 0.938);
  border-bottom: 3px solid #2f8606;
  padding: 10px;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
  border-radius: 0px 0px 40px 40px;
}

/* .header_div p {
  color: green;
  font-size: 18x;
  font-weight: 700;
} */
.leafDisease{
  display:"flex"; 
  flex-direction: column;
}

.moreImagesOutput {
  border-radius: 12px;
  /* box-shadow: 2px 0px 6px 1px rgba(128, 128, 128, 0.658); */
  height: 150px;
  width: 150px;
  transition: transform 0.3s ease-in-out;
}
.moreImagesOutput:hover {
  transform: scale(1.5);
  /* Add a box shadow effect for a more pronounced effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.moreImagesOutput:hover:not(:active) {
  transition-delay: 2s;
  transform: scale(1);
}
.btnSeeMore {
  background: #32a007;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  border: none;
  margin-top: 10px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnChooseImage {
  /* border: 2px solid gray; */
  border:none;
  color: #fff;
  background-color: #32a007;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.delete-button:hover {
  opacity: 1;
}

.image-container:hover .delete-button {
  opacity: 1;
}
.image-container {
  position: relative;
  display: inline-block;
  justify-content: center;
}