/* Set the font family and font size of the Google Translate Element */
.goog-te-banner-frame > div:first-child {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* Set the background color and border of the Google Translate Element */
.goog-te-banner-frame {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Set the background color of the language dropdown */
.goog-te-menu-value {
  background-color: #fff;
}

/* Set the color of the language dropdown text */
.goog-te-menu-value span:first-child {
  color: #333;
}

/* Set the color of the Google Translate Element button */
.goog-te-banner-button {
  color: #333;
}

/* Set the hover effect of the Google Translate Element button */
.goog-te-banner-button:hover {
  color: #000;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
.skiptranslate {
  display: flex !important;
  height: 0px;
  width: 0px;
}
.text {
  display: none;
}
.VIpgJd-ZVi9od-vH1Gmf .VIpgJd-yAWNEb-Z0Arqf-hSRGPd {
  display: none;
  color: white;
  background-color: white;
}
#goog-gt- {
  display: none;
}
.VIpgJd-yAWNEb-hvhgNd-N7Eqid ltr {
  display: none;
}
.VIpgJd-yAWNEb-Z0Arqf-PLDbbf {
  display: none;
}
.VIpgJd-ZVi9od-vH1Gmf-ibnC6b-gk6SMd {
  display: none;
}

.VIpgJd-yAWNEb-L7lbkb html,
.VIpgJd-yAWNEb-L7lbkb body,
.VIpgJd-yAWNEb-L7lbkb div,
.VIpgJd-yAWNEb-L7lbkb span,
.VIpgJd-yAWNEb-L7lbkb iframe,
.VIpgJd-yAWNEb-L7lbkb h1,
.VIpgJd-yAWNEb-L7lbkb h2,
.VIpgJd-yAWNEb-L7lbkb h3,
.VIpgJd-yAWNEb-L7lbkb h4,
.VIpgJd-yAWNEb-L7lbkb h5,
.VIpgJd-yAWNEb-L7lbkb h6,
.VIpgJd-yAWNEb-L7lbkb p,
.VIpgJd-yAWNEb-L7lbkb a,
.VIpgJd-yAWNEb-L7lbkb img,
.VIpgJd-yAWNEb-L7lbkb ol,
.VIpgJd-yAWNEb-L7lbkb ul,
.VIpgJd-yAWNEb-L7lbkb li,
.VIpgJd-yAWNEb-L7lbkb table,
.VIpgJd-yAWNEb-L7lbkb form,
.VIpgJd-yAWNEb-L7lbkb tbody,
.VIpgJd-yAWNEb-L7lbkb tr,
.VIpgJd-yAWNEb-L7lbkb td {
  display: none;
}
